@include breakpoint($large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width-narrow});
    padding-right: $right-sidebar-width-narrow;
  }

@include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});        
    padding-right: $right-sidebar-width;    
